extends ../layouts/application

block content
  .row
    h1 #{server.name}
    hr
  .row
    .large-4.columns
      h2 Details
      table(width="100%")
        tr
          th Name
          td= server.name
        tr
          th Ban Count
          td= banCount
    .large-8.columns
      h2 Recent Bans
      table(width="100%")
        thead
          tr
            th Player
            th Reason
            th Date banned
            th Banned by
            th Show
        tbody
          each ban in bans
            tr
              td= ban.player.name
              td= ban.reason
              td= ban.date
              td= ban.admin
              td
                a(href=ban.link) Show ban
