extends ../layouts/application

block content
  .row
    h1 #{server.name}
  .row
    .span4
      h2 Details
      table.table.table-striped
        tr
          th Name
          td= server.name
        tr
          th Ban Count
          td= banCount
    .span8
      h2 Recent Bans
      table.table.table-striped
        thead
          tr
            th Player
            th Reason
            th Date banned
            th Banned by
            th Show
        tbody
          each ban in bans
            tr
              td= ban.player.name
              td= ban.reason
              td.date= ban.date
              td= ban.admin
              td
                a(href=ban.link) Show ban
