extends ../layouts/application

block content
  .row
    h1 Recent bans
    table.table
      thead
        tr
          th Player
          th Server
          th Reason
          th Date banned
          th Banned by
          th Show
      tbody
        each ban in bans
          tr
            td= ban.player.name
            td= ban.server.name
            td= ban.reason
            td.date= ban.date
            td= ban.admin
            td
              a(href=ban.link) Show ban
