extends ../layouts/application

block content
  .row
    .span12
      .page-header
        h1 Recent bans
      table.table.table-striped
        thead
          tr
            th Player
            th Server
            th Reason
            th Date banned
            th Issued by
            th Show
        tbody
          each ban in bans
            tr
              td: a(href=ban.player.link)= ban.player.name
              td: a(href=ban.server.link)= ban.server.ip
              td= ban.reason
              td.date= ban.date
              if ban.issuer
                td: a(href=ban.issuer.link)= ban.issuer.name
              else
                td Server
              td: a(href=ban.link) Show ban
