extends ../layouts/application

block content
  .row
    h1 Ban against #{ban.player.name}
  .row
    .span4
      h2 Details
      table.table
        tr
          th Player
          td= ban.player.name
        tr
          th Server
          td
            a(href=ban.server.link)= ban.server.name
        tr
          th Reason
          td= ban.reason
        tr
          th Banned by
          td= ban.admin
        tr
          th Date
          td.date= ban.date
        tr
          th End
          td.date= ban.end
        tr
          th Global?
          td= ban.global ? "yes" : "no"
    .span8
      h2 Proof
      p The proof is in the pudding

