extends ../layouts/application

block content
  .row
    h1 Ban against #{ban.player.name}
  .row
    .span4
      h2 Details
      table.table.table-striped
        tr
          th Player
          td: a(href=ban.player.link)= ban.player.name
        tr
          th Server
          td
            a(href=ban.server.link)= ban.server.name
        tr
          th Reason
          td= ban.reason
        tr
          th Issued by
          td: a(href=ban.issuer.link)= ban.issuer.name
        tr
          th Date
          td.date= ban.date
        tr
          th End
          td.date= ban.end
    .span8
      h2 Proof
      p The proof is in the pudding
