extends ../layouts/application

block header
  != js('form/jquery.form')
  script
    var forms;
    $(function(){
      forms = {
        email: new Form('email'),
        pass: new Form('pass')
      };
    });

block content
  .row
    .span12
      h1 Account
      hr
  .row
    .span4
      h2 Profile
      #emailErrors
      form#email(action="/account", method="post").form-horizontal
        .control-group
          p.control-label Profile Picture
          .controls
            a(href="http://gravatar.com")
              img(src=user.gravatar({s: 150})).img-polaroid
            small Change on 
              a(href="http://gravatar.com") gravatar.com
        .control-group
          p.control-label Username
          .controls
            span.input-medium.uneditable-input= user.username
        .control-group
          label(for="email").control-label Email
          .controls
            input#email(type="text", placeholder=user.email, name="email[email]").input-medium
        .form-actions
          button(type="submit").btn.btn-primary
            i.icon-save
            |  Save
      h2 Password
      #passErrors
      form#pass(action="/account", method="post").form-horizontal
        .control-group
          label(for="current").control-label Current Password
          .controls
            input#current(type="password", placeholder="Current Password", name="pass[current]").input-medium
        .control-group
          label(for="pass").control-label New Password
          .controls
            input#pass(type="password", placeholder="New Password", name="pass[pass]").input-medium
        .control-group
          label(for="confirm").control-label Confirm Password
          .controls
            input#confirm(type="password", placeholder="Confirm Password", name="pass[confirm]").input-medium
        .form-actions
          button(type="submit").btn.btn-primary
            i.icon-save
            |  Save
      h2 Minecraft Accounts
      if user.players
        table.table.table-striped
          thead
            tr
              th(width="100%") Player Name
              th Actions
          tbody
            each player in user.players
              tr
                td= player.name
                td
                  a#deletePlayer(href="#", data-player=player._id).btn.btn-danger
                    i.icon-trash
                    | &nbsp;Delete
    .span8

      h2 Servers
      if user.servers
        table.table.table-striped
          thead
            tr
              th IP
              th API Key
              th Actions
          tbody
            each server in user.servers
              tr
                td: a(href=server.link)= server.ip
                td: input(type="text", value=server.apikey, readOnly)
                td
                  a#editServer(href=server.editLink, data-server=server._id).btn
                    i.icon-pencil
                    | &nbsp;Edit
                  | &nbsp;
                  a#deleteServer(href="#", data-server=server._id).btn.btn-danger
                    i.icon-trash
                    | &nbsp;Delete
